<h4 class="text-center">Relocationとは?</h4>
<p class="text-center">Relocationは癒しスポットを共有するサービスです。目まぐるしく変動する社会に癒しは不可欠。<br />
みんなの癒し情報を共有し、より良くイキイキと!さあ、今すぐRelocationに登録して、全国の癒しスポットを共有しましょう!</p>
<div class="container">
  <div class="row">
    <div class="col-2 mx-auto">
      <%= link_to "今すぐ登録!", new_user_registration_path, class: "btn btn-dark" %> 
    </div>
  </div>
</div>
