<h4 class="text-center">Relacationとは?</h4>
<div class="container">
  <div class="row">
    <div class="mx-auto" style="width: 450px;">
      <%= image_tag 'https://2.bp.blogspot.com/-PKJQQdEUaPI/UZmCUb6z8NI/AAAAAAAATgk/wa0GwBgomFA/s400/onsen_man.png' %>
    </div>
  </div>
</div>
<p class="text-center">Relacationは癒しスポットを共有するサービスです。目まぐるしく変動する社会に癒しは不可欠。<br />
みんなの癒し情報を共有し、より良くイキイキと!さあ、今すぐRelacationに登録して、全国の癒しスポットを共有しましょう!</p>
<div class="container">
  <div class="row">
    <div class="mx-auto" style="width: 140px;">
      <%= link_to "今すぐ登録!", new_user_registration_path, class: "btn btn-dark" %> 
    </div>
  </div>
</div>
